{% extends 'base.html' %}
{% load static %}
<html>

<body>
{% block content %}

    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info page-intro-title">About Us</h2>
                    <p class="page-intro-greeting">We represent the Engineering Community of Computer Geeks in the University of Bamenda</p>
                </div>
                 <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{% static 'img/dept/hod.jpeg' %}" alt="">
                            <div class="card-body info">
                                <h4 class="card-title heads-card-title">Pascaline Ndukum</h4>
                                <p class="card-text heads-card-par">Head of Department</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{% static 'img/dept/andrew.jpg' %}" alt="">
                            <div class="card-body info">
                                <h4 class="card-title heads-card-title"><strong>Nfon Andrew</strong><br></h4>
                                <p class="card-text heads-card-par">Departmental Coordinator</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{% static 'img/dept/vince.jpeg' %}">
                            <div class="card-body info">
                                <h4 class="card-title heads-card-title">Elroy Kanye</h4>
                                <p class="card-text heads-card-par">President</p>
                                <div class="icons"><a href="https://www.facebook.com/elroykanye2.0"><i class="icon-social-facebook"></i></a><a href="https://instagram.com/elroykanye2.0"><i class="icon-social-instagram"></i></a><a href="twitter.com/elrokanye"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
</body>

</html>