{% extends 'base.html' %}
<html>

<body>
{% block content %}
    <main class="page">
        <section class="clean-block features">
            <div class="container" style="text-align: center">
                <div class="block-heading">
                    <h2 class="text-info">Courses</h2>
                    <p>Here are the courses offered by this Computer Engineering Department</p>
                </div>
                <hr style="width: 75%">
                <h3>Year 1</h3>
                <div class="row ">
                    <div class="col-md-6">
                        <p><strong>First Semester</strong></p>
                        <div class="faq-item">
                            <p class="question">Engineering Mathematics 1</p>
                            <p class="question">Physics for Engineers 1</p>
                            <p class="question">Chemistry for Engineers 1</p>
                            <p class="question">Intro to Engineering</p>
                            <p class="question">Intro to Computer Systems</p>
                            <p class="question">Intro to Computational Thinking</p>
                            <p class="question">Intro to Computer Science</p>
                            <p class="question">Functional French 1</p>
                            <p class="question">Functional English 1</p>
                            <p class="question">Engineering Drawing 1</p>
                            <p class="question">civics and Ethics</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Second Semester</strong></p>
                        <div class="faq-item">
                            <p class="question">Engineering Mathematics 2</p>
                            <p class="question">Physics for Engineers 2</p>
                            <p class="question">Chemistry for Engineers 2</p>
                            <p class="question">Algorithm and Programming</p>
                            <p class="question">Intro to Computer Networks</p>
                            <p class="question">Abstract data types</p>
                            <p class="question">Intro to Logic Design</p>
                            <p class="question">Functional French 2</p>
                            <p class="question">Functional English 2</p>
                            <p class="question">Computer organisation and Architecture</p>
                            <p class="question">Sports</p>
                            <p class="question">Industrial Attachment</p>
                        </div>
                    </div>
                    </div>
                <br>
                <hr style="width: 70%">
                <h3>Year 2</h3>
                <div class="row ">
                    <div class="col-md-6">
                        <p><strong>First Semester</strong></p>
                        <div class="faq-item">
                            <p class="question">Object oriented Design</p>
                            <p class="question">Software Engineering</p>
                            <p class="question">Operating Systems</p>
                            <p class="question">Intro to Embedded Systems</p>
                            <p class="question">Digital System Design</p>
                            <p class="question">Database management system</p>
                            <p class="question">Web Programming 1</p>
                            <p class="question">Security management</p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Second Semester</strong></p>
                        <div class="faq-item">
                            <p class="question">Web Programming 2</p>
                            <p class="question">Coding and Cryptography</p>
                            <p class="question">Advance logic design</p>
                            <p class="question">System Programming</p>
                            <p class="question">Mechatronics</p>
                            <p class="question">Applied Programming in MATLAB</p>
                            <p class="question">Intro to Bioengineering</p>
                            <p class="question">Micro-processor based system design</p>
                            <p class="question">Industrial Attachment</p>
                        </div>
                    </div>
                    </div>
                <hr style="width: 80%">
                </div>
            </div>
        </section>
    </main>
{% endblock %}
</body>

</html>