{% extends 'base.html' %}
<html>

<body>
    {% block content %}


    <main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">FAQ</h2>
                    <p>Here are some frequently asked Questions.</p>
                </div>
                <div class="block-content">
                    <div class="faq-item">
                        <h4 class="question">How many years is the D.Eng program"</h4>
                        <div class="answer">
                            <p>The D.Eng program is a 4 years program after which you will be qualified to work in big
                                tech compainies</p>
                            <p>You can click <a href="{% url 'courses' %}l">Courses</a> to get more information about our Courses.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">How do i get admitted into the Computer Engineering department of NAHPI?</h4>
                        <div class="answer">
                            <p> You are suppose to validate all these <a href="{% url 'index.html#admission-req-t' %}">requirements</a>. In addition to that
                                you have to take part in a competitive entrance examination. if selected, you become a
                                student of the department</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">How much is the school fees?</h4>
                        <div class="answer">
                            <p>The school fees is just 50, 000cfa excluding platform charges. For more information <a href="{% url 'contact' %}">contact us</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
</body>

</html>