{% extends 'base.html' %}
<html lang="en">
<body>
{% block content %}
    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info page-intro-title" style="font-family: Alegreya, serif;">Registration</h2>
                    <p class="page-intro-greeting" style="font-family: Almendra, serif;">Welcome<br>Fill the form below to create your account on this site.</p>
                </div>
                <form method="POST" action="{% url 'signup' %}" style="font-family: 'Annie Use Your Telescope', cursive;">
                    {% csrf_token %}

                    <div class="form-group" style="color: red">
                        {% if error %}
                            {{ error }}
                        {% endif %}
                    </div>
                    <div class="form-group"><label for="username">Username</label><input class="form-control item" type="text" id="username" name="username"></div>
                    <div class="form-group"><label for="password">Password</label><input class="form-control item" type="password" id="password" name="password"></div>
                    <!--
                    <div class="form-group"><label for="email">Email</label><input class="form-control item" type="email" id="email" name="email"></div>
                    -->
                    <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                    <div class="form-group" style="margin: auto; padding-top: 4px; text-align: center">
                        Already have an account? <a href="{% url 'login' %}">Login</a>
                    </div>
                </form>
            </div>
        </section>
    </main>

{% endblock %}
</body>

</html>